@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* home */
section h1 {
    font-size: 60px;
}
section h1:not(.home-section h1) {
    color: #aaaaaa;
}
/* aside */
aside {
    position: fixed;
    right: 40px;
    top: 25%;
}
aside div {
    position: relative;
    width: 0px;
    height: 0px;
    margin-bottom: 15px;
    border-bottom: 120px solid #aaa;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    /* border-block-color: black; */
    cursor: pointer;
}
aside div:nth-child(1) {
    transform: rotate(20deg);
    border-bottom-color: #eee;
}
aside div:nth-child(2) {
    transform: rotate(-35deg);
}
aside div:nth-child(3) {
    transform: rotate(50deg);
}
aside div:nth-child(4) {
    transform: rotate(-65deg);
}
aside div:nth-child(5) {
    transform: rotate(-10deg);
}
aside div span {
    display: block;
    position: absolute;
    left: -23px;
    color: black;
}
aside div:nth-child(1) span {
    bottom: -90px;
    transform: rotate(-20deg);
}
aside div:nth-child(2) span {
    bottom: -105px;
    transform: rotate(35deg);
}
aside div:nth-child(3) span {
    bottom: -90px;
    transform: rotate(-50deg);
}
aside div:nth-child(4) span {
    bottom: -90px;
    transform: rotate(65deg);
}
aside div:nth-child(5) span {
    bottom: -90px;
    transform: rotate(10deg);
}
/* #About me */
.about-border {
    width: 80%;
    height: 60vh;
    /* 위치 확인용 border */
    /* border: 3px solid #eee;
    border-radius: 20px; */
    margin-bottom: 5vh;
}
.about-box {
    height: 80%;
    padding: 50px;
}
.about-main-text {
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
}
.about-contact {
    width: 100%;
    height: 20%;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    line-height: 70px;
    background-color: #555555;
}
.about-contact a {
    display: block;
    width: 55px;
    height: 55px;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.about-kakao {
    display: block;
    margin-left: 40%;
}
.about-kakao a {
    background-image: url(./img/kakao-w.png);
}
.about-group {
    float: left;
}
.about-item li {
    margin-bottom: 20px;
}
.about-item-list {
    width: 150px;
    border: 1px solid #eee;
    border-radius: 7px;
    text-align: center;
}
/* #Skills */
.skill-more {
    cursor: pointer;
}
.skill-border {
    /* display: flex;
    justify-content: center; */
    width: 80%;
    height: 80vh;
    border: 3px solid #eee;
    border-radius: 20px;
}
.skill-line-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.skill-box {
    position: relative;
}
.skill-box i {
    font-size: 140px;
}
.skill-hover-box {
    display: none;
}
.skill-box:hover .skill-hover-box {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    opacity: 0.7;
}
.skill-line-2 {
    display: none;
}
.skill-chart li {
    display: flex;
}
.progress {
    width: 90%;
}
/* #project */
.project-border {
    width: 80%;
    height: 80vh;
}
.work-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.work-box {
    width: 48%;
    height: 80%;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
}
.work-box img {
    width: 100%;
    border-radius: 5px;
    /* height: 70%; */
}
.work-box button {
    background: none;
    border: 1px solid black;
    border-radius: 13px;
}
.work-box button:hover {
    color: #fff;
    background-color: #555555;
}
/* 테블릿 */
@media (max-width: 1259px) {
    /* #Skill */
    .skill-line-1 {
        display: flex;
        justify-content: space-between;
    }
    .skill-box i {
        font-size: 7em;
    }
    /* #Project */
    .work-slide {
        display: block;
        height: 50%;
    }
    .work-box {
        float: left;
        margin-bottom: 10px;
    }
}
/* 모바일 */
@media (max-width: 760px) {
    aside {
        display: none;
    }
    /* #Skill */
    .skill-more {
        display: none;
    }
    .skill-line-1 {
        flex-direction: column;
        text-align: center;
    }
    /* #About */
    .about-border {
        text-align: center;
    }
    .about-main-text {
        float: none;
        width: 100%;
    }
    /* #Project */
    .work-slide {
        display: block;
        height: 45%;
    }
    .work-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .work-box img {
        max-height: 70%;
        /* height: 50%; */
    }
}
