@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* home */
.home-section {
}
.home-section h1 {
    font-size: 60px;
}
section h1:not(.home-section h1) {
    font-size: 60px;
    color: #aaaaaa;
}
/* aside */
aside {
    position: fixed;
    right: 40px;
    top: 25%;
}
aside div {
    position: relative;
    width: 0px;
    height: 0px;
    margin-bottom: 15px;
    border-bottom: 120px solid #aaa;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    /* border-block-color: black; */
    cursor: pointer;
}
aside div:nth-child(1) {
    transform: rotate(20deg);
    border-bottom-color: #eee;
}
aside div:nth-child(2) {
    transform: rotate(-35deg);
}
aside div:nth-child(3) {
    transform: rotate(50deg);
}
aside div:nth-child(4) {
    transform: rotate(-65deg);
}
aside div:nth-child(5) {
    transform: rotate(-10deg);
}
aside div span {
    display: block;
    position: absolute;
    left: -23px;
    color: black;
}
aside div:nth-child(1) span {
    bottom: -90px;
    transform: rotate(-20deg);
}
aside div:nth-child(2) span {
    bottom: -105px;
    transform: rotate(35deg);
}
aside div:nth-child(3) span {
    bottom: -90px;
    transform: rotate(-50deg);
}
aside div:nth-child(4) span {
    bottom: -90px;
    transform: rotate(65deg);
}
aside div:nth-child(5) span {
    bottom: -90px;
    transform: rotate(10deg);
}
/* #About me */
.about-section {
    /* text-align: center; */
}
.about-border {
    width: 80%;
    height: 80vh;
    /* border: 3px solid #eee;
    border-radius: 20px; */
}
.about-main-text {
    float: left;
    width: 50%;
    text-align: center;
}
.about-history,
.about-certificate {
    width: 50%;
    float: right;
}
/* #Skills */
.skill-more {
    cursor: pointer;
}
.skill-border {
    /* display: flex;
    justify-content: center; */
    width: 80%;
    height: 80vh;
    border: 3px solid #eee;
    border-radius: 20px;
}
.skill-line-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.skill-box {
    position: relative;
}
.skill-box i {
    font-size: 140px;
}
.skill-hover-box {
    display: none;
}
.skill-box:hover .skill-hover-box {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    opacity: 0.7;
}
.skill-line-2 {
    display: none;
}
.skill-chart li {
    display: flex;
}
.skill-bar {
    width: 100%;
    border-radius: 15px;
    text-align: end;
    background-color: #aaa;
}
/* #project */
.project-border {
    width: 80%;
    height: 80vh;
    /*  */
    border: 3px solid #eee;
    border-radius: 20px;
}
/* 테블릿 */
@media (max-width: 1259px) {
    .skill-line-1 {
        display: flex;
        justify-content: space-between;
    }
    .skill-box i {
        font-size: 7em;
    }
}
/* 모바일 */
@media (max-width: 760px) {
    aside {
        display: none;
    }
    .skill-line-1 {
        flex-direction: column;
        text-align: center;
        /* line-height: 150px; */
    }
}
