/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* section 세팅 */
html::-webkit-scrollbar {
    display: none;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;    
    min-height: 100vh;
    /* <a href="https://kr.freepik.com/free-photo/white-concrete-wall_4410360.htm#page=2&query=dark%20background&position=15&from_view=keyword">작가 rawpixel.com</a> 출처 Freepik */
    background-image: url(./img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center center;
    /* transition: 1s; */
}
.border {
    width: 80vw;
    height: 80vh;
}
section h1 {
    margin-top: 20px;
    font-size: 4em;
    font-weight: 550;
}
section h1:not(#home-section h1) {
    color: #aaaaaa;
}
/* home */
#home-section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.home-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 40%;
    width: 80%;
    background-color: #555556;
}
.home-title h1 {
    color: transparent;
    font-size: 5em;
    background: linear-gradient(to bottom, rgb(90, 89, 89), #fff);
    -webkit-background-clip: text;
    text-align: center;
}
svg {
    position: absolute;
    top: 65%;
    left: 50%;
    height: 100vh;
    width: 100vh;
    transform: translate(-50%, -50%);
    /* max-height: 700px;
    max-width: 700px; */
    /* border: 2px solid blue; */
}
.hom-bottom {
    width: 100px;
    height: 100px;
    background: transparent;
}
/* aside */
nav {
    position: fixed;
    right: 30px;
    top: 15%;
    z-index: 1;
}
nav div {
    position: relative;
    width: 0px;
    height: 0px;
    margin-bottom: 15px;
    /* border-bottom: 110px solid rgba(238, 238, 238, 1); */
    border-bottom: 110px solid #aaa;
    border-left: 55px solid transparent;
    border-right: 43px solid transparent;
    transition: 1.2s;
    cursor: pointer;
}

.selected {
    border-bottom-color: #fafafa;
}
.selected img {
    display: block;
}


nav div img {
    display: none;
}
/* 삼각형 각도 */
nav div:nth-child(1) {    
    transform: rotate(20deg);
}
nav div:nth-child(2) {
    transform: rotate(-35deg);
}
nav div:nth-child(3) {
    transform: rotate(50deg);
}
nav div:nth-child(4) {
    transform: rotate(-65deg);
}
nav div:nth-child(5) {
    transform: rotate(-10deg);
}
nav div span {
    position: absolute;
    display: block;
    left: -25px;
    bottom: -90px;
    /* color: black; */
    color: transparent;    
    background: linear-gradient(to top, black, #fafafa);
    -webkit-background-clip: text;
    font-size: 18px;
    /* font-weight: 550;     */
}

/* 텍스트 각도 */
nav div:nth-child(1) span {
    left: -32px;
    transform: rotate(-30deg);
}
nav div:nth-child(2) span {
    transform: rotate(40deg);
}
nav div:nth-child(3) span {
    left: -30px;
    transform: rotate(-55deg);
}
nav div:nth-child(4) span {
    left: -30px;
    transform: rotate(65deg);
}
nav div:nth-child(5) span {
    transform: rotate(15deg);
}
/* 아이콘 각도 */
nav div:nth-child(1) img {
    transform: rotate(40deg);
}
nav div:nth-child(2) img {
    transform: rotate(50deg);
}
nav div:nth-child(3) img {
    transform: rotate(40deg);
}
nav div:nth-child(4) img {
    transform: rotate(65deg);
}
#nav-close {
    transition: 1.7s;
}
/* #About me */
#about-section {
    position: relative;        
    text-align: center;
    overflow: hidden;
}
.about-border {
    position: relative;       
    height: 100vh;
    text-align: center;
}
.about-main-text {
    display: inline-block;
    /* width: 40%; */
    /* height: 300px; */
    /* margin-left: 100px;     */
    text-align: left;
    white-space: pre-line;
}
.about-item {
    display: inline-block;    
    margin: 0 -100px 200px 100px;    
    padding: 10px;
    text-align: left;
}
.about-item div {    
    width: 350px;
    margin:  30px 50px 0 0;    
}
.item-title {
    font-size: 27px;
    font-family: Egiela;
    text-align: center;
}
.about-list {    
    border: 1px solid #777777;    
    border-radius: 10px;
    /* background-color: ; */
}
.about-list li{
    padding: 5px;    
}
.list-date {
    font-size: 10px;
}
#about-contact {
    position: absolute;    
    left: -8vw;
    bottom: 100px;
    width: 100px;    
    height: 100px;
    border: none;
    font-size: 12em;
    font-size: 200px;
    font-weight: bold;
    background: none;
    transform: rotate(-90deg);
    cursor: pointer;    
}
#contact-side {    
    position: absolute;    
    display: flex;    
    justify-content: space-between;
    left: -100%;
    bottom: 1px;
    width: 100%;
    height: 200px;
    line-height: 100px;
    background-color: #555555;
    z-index: 2;
    transition: 600ms;    
    overflow-y: hidden;
}
.contact-group {
    height: 100%;
    margin-top: 3px;
}
#contact-side p img {
    height: 30px;
}
#contact-side p {    
    display: inline-block;       
    margin-right: 5px;
    padding: 40px 15px 40px 15px;
    border-radius: 14px;        
    background-color: white;    
}
#contact-side h1 {    
    width: 50px;
    margin: 0;    
    font-size: 450px;    
}
#contact-close-button {        
    width: 25px;
    height: 25px;
    margin: 10px 20px 0 0;     
    cursor: pointer;
}
#contact-close-button::before,
#contact-close-button::after {
    position: absolute;
    content: ' ';
    height: 25px;
    width: 2px;
    margin-left: 10px;
    background-color: #eee;
}
#contact-close-button::before {
    transform: rotate(45deg);
}
#contact-close-button::after {
    transform: rotate(-45deg);
}



/* #About keyboard */
:root {
    --gap: 15px;
    --key-width: 50px;
  }
  
  body {   
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .keyboard {
    --rot-x: 20deg;
    --rot-y: 0deg;
    display: inline-flex;
    flex-direction: column;    
    padding: var(--gap);
    border-radius: 17.5px;
    transform-style: preserve-3d;
    perspective: 1200px;
    transform: perspective(1200px) rotateX(var(--rot-x)) rotateY(var(--rot-y));
    transition: 100ms transform;    
  }
  
  .row {
    display: flex;
    transform-style: preserve-3d;
  }
  .row + .row {
    margin-top: var(--gap);
  }
  
  .keyboard,
  .key {
    background: #141414;
    border: 2px solid rgba(64, 64, 64, 0.2);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .key {
    --width: var(--key-width);
    --color: hsl(0, 0%, 85%);
    --size: 1;
    --size-2: 1.654545;
    --size-3: 1.981818;
    --size-4: 2.290909;
    --size-5: 2.618181;
    --size-6: 1.327272;
    --size-7: 7.8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width) * var(--size));
    height: var(--width);
    border-radius: 7.5px;
    flex-shrink: 0;
    box-sizing: border-box;
    transform: translate3D(0, 0, 30px);
    transition: 100ms;
    cursor: pointer;
  }
  .key:hover {
    transform: translate3D(0, 0, 35px);
  }
  .key:active, .key[data-selected]:not([data-selected=false]) {
    transform: translate3D(0, 0, 25px);
    border-color: var(--color);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0px 2px 8px var(--color), 0px 5px 20px var(--color);
  }
  .key + .key {
    margin-left: var(--gap);
  }
  .key:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: var(--color);
  }
  .key.stretch {
    padding: 0 25px;
  }
  .key.stretch:before {
    width: 100%;
  }
  .key.empty:before {
    display: none;
  }
  .key.size-2 {
    --size: var(--size-2);
  }
  .key.size-3 {
    --size: var(--size-3);
  }
  .key.size-4 {
    --size: var(--size-4);
  }
  .key.size-5 {
    --size: var(--size-5);
  }
  .key.size-6 {
    --size: var(--size-6);
  }
  .key.size-7 {
    --size: var(--size-7);
  }
  .key.grey {
    --color: hsl( 0, 0%, 50%);
  }
  .key.red {
    --color: hsl( 0, 80%, 60%);
  }
  .key.orange {
    --color: hsl( 25, 80%, 60%);
  }
  .key.yellow {
    --color: hsl( 50, 80%, 60%);
  }
  .key.green {
    --color: hsl(150, 80%, 60%);
  }
  .key.blue {
    --color: hsl(210, 80%, 60%);
  }
  .key.purple {
    --color: hsl(270, 80%, 60%);
  }
  .key[data-color=grey] {
    --color: hsl( 0, 0%, 50%);
  }
  .key[data-color=red] {
    --color: hsl( 0, 80%, 60%);
  }
  .key[data-color=orange] {
    --color: hsl( 25, 80%, 60%);
  }
  .key[data-color=yellow] {
    --color: hsl( 50, 80%, 60%);
  }
  .key[data-color=green] {
    --color: hsl(150, 80%, 60%);
  }
  .key[data-color=blue] {
    --color: hsl(210, 80%, 60%);
  }
  .key[data-color=purple] {
    --color: hsl(270, 80%, 60%);
  }


/* #Skills */
#skill-section {
    overflow: hidden;
}

.skill-mobile {
    display: none;
    align-items: center;
    height: 70vh;    
    margin-top: 100px;    
}

.skill-pc {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-chart {    
    position: relative;
    /* top: -100%; */
    width: 700px;
    line-height: 65px;
    /* transition: 1s;
    opacity: 0; */
}

/* .scroll-line {        
    top: 0;   
    opacity: 1;     
} */

.chart span {
    display: inline-block;
    width: 120px;
}

.progress-box {
    position: relative;
    display: inline-block;
    --bar: 6.7;    
}

.chart progress {
    appearance: none;
    transition: 1s;
}

.chart progress::-webkit-progress-bar {
    width: 700px;
    height: 22px;
    border-radius:10px;
    background:#f0f0f0;    
    box-shadow: inset 3px 3px 10px #ccc;
}

.chart progress::-webkit-progress-value {
    border-radius:10px;    
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}

.chart-sticker {
    position: absolute;    
    top: -10px;    
    width: 27px;
    height: 23px;
    border-radius: 3px;
    color: #fafafa;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    background-color: #484848;    
}

.chart-sticker:after {
    position: absolute;
    content: "";
    top: 18px;
    left: 3px;
    border-top: 10px solid #484848;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
}

.sticker1 {
    left: calc(var(--bar) * 60px);        
}
.sticker2 {
    left: calc(var(--bar) * 65px);        
}
.sticker3 {
    left: calc(var(--bar) * 70px);        
}

.skill-line {
    position: relative;
    display: flex;      
    top: -100%;    
    width: 65vw;    
    margin: 0 auto;
    padding-left: 10px;    
    opacity: 0;
    transition: 1s;
    z-index: 9;
}

.skill-tag {
    position: absolute;    
    left: 0;        
    min-width: 40px;
    padding: 4px;
    border-radius: 5px;
    font-size: 13px;    
    text-align: center;
    background-color: aquamarine;
}
.skill-box {   
    position: relative; 
    width: 80px;
    padding: 50px;     
    margin: 0 auto;   
}
.skill-box i {    
    font-size: 100px;    
}
.skill-line-1 > .skill-box img {       
    width: 100px;
    padding-top: 20px;
}
.skill-box img {
    display: block; 
    width: 75px; 
    padding: 4px;
}
.skill-line-2 img {
    width: 85px;    
}
.skill-line-3 img {
    width: 100px;
    padding: 0 20px 0 0;
    margin-left: -10px;     
}


/* #project */
#project-prograss {
    width: 80%;
    margin: -5px;
    border: 1px solid #555555;
    border-radius: 20px;
}
#prograss-bar {
    width: 0;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 9999px;
    text-align: right;
    background-color: #555555;
}
#work-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.work-box {
    /* width: 48%; */
    width: 23vh;
    height: 80%;
    border: 1px solid #eee;
    border-radius: 500px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.work-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 500px;
    color: #fff;
    font-size: 80px;
    background-color: #555555;
}
.work-img {
    display: none;
    height: 50%;
    border-radius: 500px;
    color: #fff;
    font-size: 0;
    background-image: url(https://helpx.adobe.com/content/dam/help/en/photoshop/using/quick-actions/remove-background-before-qa1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.work-box button {
    width: 40px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}
.work-box button:hover {
    color: #fff;
    background-color: #555555;
}
.work-text {
    display: none;
}

@media (max-width: 1230px)  {
    .about-main-text {
        margin: 0;
    }
    .about-item {        
        /* width: 200px; */
        margin: 0 -100px 100px 50px;
    }   
    .about-item div {        
        width: 300px;
    }
    .about-list {
        padding: 5px;
    }    
    :root {     
        --key-width: 23px;
    }
    .keyboard {
        width: 640px;
        height: 170px;
    }
    .key {
        --size: 1;
        --size-2: 2.554545; 
        --size-3: 3.081818; 
        --size-4: 3.990909; 
        --size-5: 3.518181; 
        --size-6: 2.057272;
        --size-7: 7.781818;    
    }    
}

@media (max-width: 670px) {
    .keyboard {
        display: none;
    }    
    .about-main-text {
       width: 100%;
    }
    .about-item div {
        float: none;             
    }
}

/* 테블릿 */
@media (max-width: 1024px){        
    nav {
        display: none;
    }
    /* home */
    svg {
        top: 65%;
        width: 100vh;
        height: 100vh;
    }
    section h1 {
        font-size: 4em;
    }
    .home-title {
        width: 100%;
        height: 8em;
    }
    .home-title h1 {
        font-size: 4.5em;
    }
    /* #About */
    #about-section {
        height: 100vh;
    }    
    .about-item div {
        float: none;
        width: 250px;    
        font-size: 13px;        
    }
    .about-main-text {
        float: none;
        width: 50%;
        font-size: 15px;
    }        
    #about-contact {
        position: absolute;
        left: -8vw;
        bottom: 10px;
        width: 100px;    
        height: 100px;
        border: 1px solid #777777;
        border-radius: 50%;    
        font-size: 18px;
        font-family: Egiela;
        background: none;
        background-color: #fafafa;
        cursor: pointer;    
    }
    #contact-side h1{
        font-size: 300px;
    }   

    /* #Skill */
    .skill-tag {
        position: absolute;    
        left: 0;        
        top: -30px;        
    }    
    .skill-box {     
        padding: 0;          
    }
    .skill-box i {
        font-size: 85px;
    }    
    .skill-line-1, 
    .skill-line-2, 
    .skill-line-3 {        
        justify-content: space-between;  
        width: 80vw;
        margin-top: 70px; 
    }      
    .skill-line-2 .skill-hover-box, 
    .skill-line-3 .skill-hover-box {
        top: 18px;
        left: 8px;
    }

    /* #Project */
    #project-section {
        height: auto;
    }
    #project-prograss {
        display: none;
    }
    #work-slide {        
        display: block;
        height: 100%;        
    }
    .work-box {
        float: left;
        width: 300px;    
        height: 300px;    
        border-radius: 20px;
        margin: 0 0 10px 10px;        
    }
    .work-cover {
        display: none;
    }
    .work-img {
        display: block;
        width: 100%;
        height: 65%;
        border-radius: 20px;
        font-size: 0;   
        /* background-size: contain; */
        /* background-position: center center;
        background-repeat: no-repeat; */
    }
    .work-text {
        display: block;
    }
}
/* 모바일 */
@media (max-width: 430px) {
    section {
        /* height: auto;         */
    }   
    aside {
        display: none;
    }
    section h1 {
        margin: 0;
        font-size: 3em;        
    }
    .border {        
        height: 100vh;
    }
    /* home */
    .home-title h1 {
        font-size: 3.5em;
        /* word-spacing: 1em; */
        text-align: center;
    }
    /* #About */
    .about-border {
        position: relative;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
    #about-contact {
       
    }
    #contact-side {
        width: 100%;
    }    
    .about-main-text {
        float: none;
        width: 100%;
        font-size: 13px;        
        /* margin-bottom: 50px; */
    }
    .about-item div {        
        width: 200px;
        font-size: 12px;
        padding: 0;
    }
    .about-list {
        padding: 5px;
    }
        
    /* #Skill */
    #skill-section {
        height: auto;
    }
    .skill-border {
        height: 100vh;
    }
    .skill-line-1,
    .skill-line-2,
    .skill-line-3
    {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;         
        /* text-align: center; */
    }    
    .skill-box {
        margin-top: 5px;
        text-align: center;
    }
    #lang-img4 {
        margin-left: -20px;
    }
    .skill-box i {
        font-size: 70px;
    }

    /* #Project */
    #project-section {
        height: auto;
    }
    #work-slide {
        display: block;
        height: 45%;
    }
    .work-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .work-box img {
        max-height: 70%;
        /* height: 50%; */
    }
}
